<% unless @comments.count.nil? %>
<%= @comments_count %>

<% @comments.each_with_index do |comment, i| %>
<p>

<%= "No.#{h(i + 1)}" %>
  <strong><%= comment.body %>:</strong>
  <%= comment.user.email %>
  <%= link_to 'Delete', post_comment_path(:id => comment.id, :post_id => @post.id ),method: :delete, class: "button is-danger", data: { confirm: 'Do you want to delete?' } %>
  <%= link_to 'Edit', edit_post_comment_path(:id => comment.id, :post_id => @post.id ), class: "button is-danger", data: { confirm: 'Do you want to edit?' } %>
</p>
<% end %>
<% else %>
<% end %>
