<h2>東京の天気</h2>
<div>
    <span id = "weather" class="bold"></span>
</div>
<div>
    <span id = "weatherMark" class="bold"></span>
</div>
<p id="icon"></p>
<div>気温<span id = "temp"  class="bold"></span>℃</div>
<div>湿度<span id = "humidity" class="bold"></span>　%</div>
