<p id="notice"><%= notice %></p>
<h1><%= link_to 'Posts', new_post_path %></h1>
<%= render 'weather/weather' %>

<table>
  <thead>
    <tr>
      <th>ErrorCode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user.id %></td>
        <td><%= markdown(post.error.truncate(50)).html_safe %></td>
        <td><%= post.id %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
