<p id="notice"><%= notice %></p>

<strong><h1><%= link_to 'ErrorCode', posts_path %></h1></strong>
<%= link_to '編集する', edit_post_path(@post) %>

<%= markdown(@post.error).html_safe %>
<p><%= render 'comments/comments', post: @post   %></p><br>
<%= render 'comments/form', post: @post  %>
