<!DOCTYPE html>
<html>
  <head>
    <title>Errorcode</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= react_component('HelloMessage', name: 'Mike') %>
  	<%= react_component("ComponentExample", {posts: @posts}) %>
  	<%= react_component("ComponentExample", {posts: @posts.as_json(only:[:id,:title])}) %>
    <%= yield %>
  </body>
</html>
